.m__home {

  width: 500px;
  margin: 20px auto 0 auto;
  padding: 30px 60px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #2E354D;
  border-radius: 6px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .navigation {
    padding: 20px 0 0 0;
    text-align: center;
  }

  a {
    display: inline-block;
    padding: 10px 15px ;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4C7083;

    &:hover {
      color: #999;
    }
  }
}

.m__home--yo {

}
