.component-header {
  width: 100%;
  height:5em;
  color: #FFFFFF;
  background: #000000 url("../images/yeoman.png") no-repeat 0.5em 0.5em;
  text-align: center;

  h2 {
    line-height: 3em;
    margin: 0;
  }
}
