/**
*
* Helper
*
**/


.clear {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

/*==========  GENERIC  ==========*/
.centered {
  text-align: center;
}
