.section-contact {

  width: 60%;
  margin: 50px auto 0 auto;
  padding: 60px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #2E354D;

  @media (max-width: 50em) {
    width: 100%;
    padding: 1em 1em 2em 1em;
    line-height: 2em;
  }

  .navigation {
    padding: 2em 0 0 0;
    text-align: center;
  }

  button {
    font-weight: bold;
    color: #000001;

    &:hover {
      color: #999;
    }
  }

}
